* {
  font-family: Roboto;
}

.jobs-bg-cont {
  width: 100vw;
  background-color: black;
}
.responsive-cont {
  display: flex;
  width: 90%;
}
.jobs-sorting-profile-cont {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 25px;
}
.search-cont-sm {
  display: none;
}
.em-type-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.sortin-title {
  font-size: 15px;
  margin-bottom: 15px;
  color: white;
}
.title-border {
  width: 90%;
  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
.jobsList-cont {
  width: 60%;
  padding: 10px;
}
.search-cont-lg {
  display: flex;
  width: 400px;
  height: 40px;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 10px;
}
.input-el {
  padding: 5px;
  height: 100%;
  width: 360px;
  border: none;
  outline: none;
  cursor: text;
  background-color: transparent;
}
.jobs-search-btn {
  background-color: #272727;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  height: 80%;
  width: 80%;
}
.loader-container {
  display: flex;
  height: 90%;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.no-job-cont {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.no-jobs-img {
  height: 300px;
  width: 350px;
  margin-bottom: 15px;
}
.no-jobs-heading {
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
}
.no-jobs-para {
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}
.no-jobs-btn-1 {
  height: 30px;
  width: 90px;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #6366f1;
}

@media (max-width: 767px) {
  .responsive-cont {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  .jobs-sorting-profile-cont {
    width: 100%;
    padding: 0px;
  }
  .search-cont-sm {
    display: flex;
    width: 90%;
    height: 40px;
    border: 1px gray solid;
    border-radius: 5px;
  }
  .input-el {
    width: 90%;
    height: 100%;
  }
  .search-cont-lg {
    display: none;
  }
  .jobsList-cont {
    width: 90%;
    padding: 5px;
  }
  .no-jobs-img {
    height: 100px;
    width: 90px;
  }
  .no-jobs-heading {
    font-size: 15px;
  }
  .no-job-para {
    font-size: 10px;
  }
  .title-border {
    width: 90%;
  }
}
